<!DOCTYPE html>
<html>
<head>
	<title>Interest Calculator</title>
</head>
<body>
	<h1>Interest Calculator</h1>
	<form action="/calculate_interest" method="POST">
		<label>Price:</label>
		<input type="number" name="price" required><br>

		<label>Interest Rate:</label>
		<input type="number" step="0.01" name="interest_rate" required><br>

		<label>Tenure:</label>
		<input type="number" name="tenure" required><br>

		<button type="submit">Calculate</button>
	</form>

	{% if interest %}
		<p>Price Taken: <b>{{ price }}</b></p>
		<p>Interest Given: <b>{{ interest_rate }}</b></p>
		<p>Tenure: <b>{{ tenure }}</b></p>
		<br>
		<p>Total Interest: <b>{{ interest }}</b></p>
		<p>Monthly Interest: <b>{{ monthly_payment }}</b></p>
		<br>
		<p>Total Payable: <b>{{ totalpay }}</b></p>
	{% endif %}
	<br>
	<a href="{{ url_for('index') }}">Back to Home</a>
</body>
</html>
